# --- App ---
APP_NAME=cat_app
PORT=3000

# --- Data base  (PostgreSQL) ---
# Used in app.module.ts and seeder.ts (TypeOrmModule.forRootAsync)
POSTGRES_HOST_PC=localhost
POSTGRES_PORT_PC=5432
POSTGRES_DOCKER_USER=postgres
POSTGRES_DOCKER_ROOT_PASSWORD=your_password_here

# --- JWT / Auth ---
# Used in auth.module.ts and jwt.strategy.ts
JWT_SECRET=your_jwt_secret_here

# --- External Cat API  ---
# Used in cat.module.ts (HttpModule.registerAsync)
BASE_URL=https://api.thecatapi.com/v1
CAT_API_KEY=your_cat_api_key_here
